# Python 编译文件
__pycache__/
*.py[cod]

# 数据库文件 (如果是 SQLite)
db.sqlite3

# 环境变量文件 (存放密钥的)
.env

# 虚拟环境文件夹 (如果你把环境建在项目里了)
env/
venv/
.venv/
/opt/anaconda3/  # 虽然通常不在项目里，但以防万一

# VS Code 配置文件 (可选，通常每个人配置不一样，建议忽略)
.vscode/